<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />
<title><?js return self.default_title; ?><?js if ( self.title ) return ' - ' + self.title; return ''; ?></title>

<link rel="stylesheet" type="text/css" href="/css/zfw.css"/>
<link rel="shortcut icon" href="/favicon.ico" />

<meta http-equiv="language" content="deutsch, de">
<meta name="keywords" content="some, key, words">
<meta name="robots" content="index,follow">
<meta name="revisit-after" content="14 days">
<meta name="audience" content="developer">
</head>

<body>
  <div id="logo"><a href="/"><img src="/images/logo.png" alt="logo" border="0"/></a></div>
  <div id="head"> </div>
  <div id="everything">
    <div id="content">
